body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.menutop {
  background-color: rgba(255, 56, 56, 0.8);
  color: #333333;
  width: 100%;
  float: left;
  position: fixed;
  height: 100px;
  margin: 0;
  margin-bottom: 10px;
  box-shadow: 10px 1px  15px #333333;
  z-index: 10;
}

.brandicon {
  background-image: url("../../img/mean.png");
  position: relative;
  float: left;
  margin-top: 15px;
  margin-left: 1%;
  height: 60px;
  width: 60px;
  background-size: cover;
  cursor: pointer;
}

.menutoplinks {
  position: relative;
  float: right;
  margin-top: 30px;
  margin-right: 10%;
  display: flex;
  height: 50px;
    a {
      color: #333333;
      margin-right: 10%;
      padding: 10px;
      background-color: #fff;
      text-decoration: none;
          &:hover {
            background-color: rgba(255, 56, 56, 1);
            color: #fff;
            font-weight: bold;
          }
    }
    .mytopphoto {
      background-image: url(../../img/eu.jpg);
      height: 5px;
      width: 10px;
      background-size: cover;
      cursor: pointer;
      padding: 30px;
      margin-top: -15px;
      margin-right: 50px;
      border-radius: 50px;
    }
}


.maincontainer {
  float: left;
  position: relative;
  width: 95%;
  height: 1000px;
  margin-left: 2.5%;
  color: #333333;
  background-color: #f2f2f2;
  margin-top: 125px;
}

.footer {
  background-color: yellow;
  height: 80px;
  width: 100%;
  float: left;
  position: relative;
}
